---

---

<section>
    <div class="flex justify-center flex-col items-center py-4 ">

        <h1 class="text-center text-xl font-semibold">
            Fotos
        </h1>
        <p class="text-center my-4">
            No puedo sacarme todas las fotos que quisiera, <br>
            Ni estar en todos lados para ustedes. <br>
            Pero podes compartirme tus recuerdos de esta noche. <br>
        </p>
    
        <a
            class="inline-block bg-emerald-200 text-slate-800 text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800 transition duration-200"
            target="_blank"
            href="https://drive.google.com/drive/folders/1lvwBjszwmbO447f-8OCIFBJ7o1Nw1KW8"
            >COMPARTIR</a
        >
    </div>
</section>


