---

---

<div class="flex justify-center flex-col items-center w-full">

    <h1>Fotos</h1>
    <p class="text-balance text-center">No podemos estar en todos lados pero podes compartirme y ver las fotos que quieras</p>

    <a class="ring-1 mb-4 p-2 rounded-full" target="_blank" href="https://drive.google.com/drive/folders/1EE4kfJ4XaStjGsCNHnzdALOC90NjKsNe">COMPARTIR</a>

</div>