---

---

<section class="confirmacion">
    <h1>Armemos una PlayList con lo que no puede faltar!</h1>
    <a
        class=""
        target="_blank"
        href="https://open.spotify.com/user/31yanobrqbcvgjpe3kx7xvu6ytmi?si=IMUtuOdQTaGYQ06Hdald8A"
    >
        SI
    </a>
</section>
