---

---

<section class="confirmacion">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-center text-xl font-semibold mt-3">
        Musica
    </h1>
    <p class="text-center my-4">
        Armemos juntos una PlayList <br>
        La musica que no puede faltar <br>
        No te quedes sentado!! <br>
    </p>
    <a
    class="inline-block bg-emerald-200 text-slate-800  text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800  transition duration-200"
        target="_blank"
        href="https://open.spotify.com/user/31yanobrqbcvgjpe3kx7xvu6ytmi?si=IMUtuOdQTaGYQ06Hdald8A"
    >
        PLAY LIST
    </a></div>
    
</section>
