---

---

<section class="musica py-5" id="musica">
    <div class="flex flex-col justify-center items-center">
        <h1 class="text-center text-xl font-semibold mt-3">
        Musica
    </h1>
    <p class="text-center my-4 bg-gradient-to-tr from-zinc-500 to-zinc-700 p-2 rounded-lg text-emerald-300">
        ¡Quiero que todos sean DJ por un rato! <br>
        Armemos entre todos la playlist para mis 15 <br>
    </p>
    <a
    class="inline-block bg-emerald-200 text-slate-800  text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800  transition duration-200"
        target="_blank"
        href="https://open.spotify.com/playlist/1OCPHSGwk6xdBA52862RII?si=2Rc97rQOSeOTEh9Y_cBmDw&pi=-mMK0255TfeRB"
    >
        PLAY LIST
    </a></div>
    
</section>

<style>
    #musica {
  background-image: url('musica.jpg'); /* Especifica la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra toda la sección */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  width: 100%; /* Asegura que la sección ocupe todo el ancho */
  height: 100vh; /* Asegura que la sección ocupe la altura de la ventana */
}
</style>
