---

---

<section>
    <div class="flex justify-center flex-col items-center py-4 ">

        <h1 class="text-center text-xl font-semibold">
            Codigo de Vestimenta
        </h1>
        <p class="text-center my-4">
            Elegante <br>
            Colores permitidos: <br>
            Negro - Rojo - Verde - Violeta - Rosa <br>
        </p>
    
       
    </div>
</section>


