---

---

<section>
    <div class="flex justify-center flex-col items-center py-4 bg-slate-100">

        <h1 class="text-center text-xl font-semibold">
            Codigo de Vestimenta
        </h1>
        <p class="text-center my-4">
            Elegante <br>
            Colores permitidos<br>
        </p>

        <div class="flex flex-row">
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-black"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-red-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-green-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-violet-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-pink-600"></li>
        </div>
    
    </div>
</section>


