---

---

<section>
    <div class="flex justify-center flex-col items-center py-4 bg-slate-100">

        <h1 class="text-center text-xl delius-swash-caps-negrita">
            Codigo de Vestimenta
        </h1>
        <p class="text-center my-4 delius-swash-caps-regular">
            Elegante <br>
            Colores permitidos<br>
        </p>

        <div class="flex flex-row">
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-black"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-red-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-green-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-violet-600"></li>
            <li class="size-8 ring-1 ring-gray-400 mx-2 list-none rounded-full bg-pink-300"></li>
        </div>
    
    </div>
</section>

<style>
    .delius-swash-caps-regular {
  font-family: "Delius Swash Caps", serif;
  font-weight: 400;
  font-style: normal;
}
.delius-swash-caps-negrita {
  font-family: "Delius Swash Caps", serif;
  font-weight: 600;
  font-style: normal;
}
</style>


