---

---

<section class="confirmacion bg-slate-100">
    <div class="flex flex-col justify-center items-center py-4">
        <h1 class="text-center text-xl font-semibold">Confirmar Asistencia</h1>

        <div
            class="size-1/2 grid grid-cols-2 gap-6 my-3"
        >
            <a
                class="inline-block bg-emerald-200 text-slate-800 text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800 transition duration-200"
                target="_blank"
                href="https://wa.me/542224484766?text=Hola%20Re,%20confirmo%20asistencia%20para%20tus%20XV!%20"
            >
                SI
            </a>
            <a
                class="inline-block bg-emerald-200 text-slate-800 text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800 transition duration-200"
                target="_blank"
                href="https://wa.me/542224484766?text=Hola%20Re,%20no%20voy%20a%20poder%20ir%20a%20tus%20XV.%20"
            >
                NO
            </a>
        </div>
    </div>
</section>
