---

---

<div class="h-full w-full flex justify-center items-center flex-col " id="home">
    <h1 class="windsong-medium text-7xl text-black mt-60">Renata</h1>
    <h2 class="windsong-medium text-6xl text-white">XV</h2>
</div>

<style>
    #home {
  background-image: url('../../public/rena.jpeg'); /* Especifica la imagen de fondo */
  background-size: cover; /* Hace que la imagen cubra toda la sección */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen */
  width: 100%; /* Asegura que la sección ocupe todo el ancho */
  height: 100vh; /* Asegura que la sección ocupe la altura de la ventana */
}

.windsong-medium {
  font-family: "WindSong", serif;
  font-weight: 500;
  font-style: normal;
}

</style>