---

---

<div class="flex flex-col justify-center items-center text-balance w-full">
    <h1 class="text-3xl font-bold mb-6 mt-6 ring-offset-8 ring-4">Invitación Especial</h1>
    <p class="text-lg leading-relaxed text-center">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio explicabo repellendus recusandae eius, nobis aliquid asperiores ullam facere in voluptatem esse aliquam, ipsum minus totam ratione ea enim nostrum dolores.
    </p>
</div>