---

---

<section
  class="bg-cover bg-center bg-[url('../public/imagen.jpg')] flex flex-col justify-center items-center text-black text-balance"
>
  <div class="">
    <h1 class="">Título de la Sección</h1>
    <p class="">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      quisquam aspernatur at vitae porro beatae id. Aperiam, consequatur quos
      itaque architecto exercitationem ea beatae saepe aspernatur omnis
      assumenda officiis a.
    </p>
  </div>
</section>
