---

---

<div class="bg-green-500 flex flex-col justify-center items-center">
    <h1 class="text-center my-4">Lugar del cumple</h1>
    <a class="ring-1 mb-4 p-2 rounded-full" target="_blank" href="https://www.google.com/maps/dir//Ruta+Provincial+210+Km.+54,+San+Vicente,+Provincia+de+Buenos+Aires/@-35.0478767,-58.4029781,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95a2cd9cb0035099:0xc211064c05578c5d!2m2!1d-58.320577!2d-35.0479046?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D">Como llegar</a>
</div>