---

---

<section class="bg-emerald-500 py-6">
    <div class="flex flex-col justify-center items-center">
        <div
            class="bg-white/50 backdrop-blur-sm rounded-lg p-6 shadow-sm w-11/12 md:w-2/3 lg:w-1/2 flex flex-col justify-center items-center"
        >
            <h1 class="text-center text-xl font-semibold">
                Ubicación
            </h1>
            <p class="text-center my-4">
                El evento será en La Quinta El Vergel. <br>
                Ruta Provincial 210 Km 54. <br>
                San Vicente, Provincia de Buenos Aires. <br>
            </p>
            <a
                class="inline-block bg-slate-800 text-yellow-500  text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800  transition duration-200"
                target="_blank"
                href="https://www.google.com/maps/dir//Ruta+Provincial+210+Km.+54,+San+Vicente,+Provincia+de+Buenos+Aires/@-35.0478767,-58.4029781,12z/data=!4m8!4m7!1m0!1m5!1m1!1s0x95a2cd9cb0035099:0xc211064c05578c5d!2m2!1d-58.320577!2d-35.0479046?entry=ttu&g_ep=EgoyMDI0MDgyOC4wIKXMDSoASAFQAw%3D%3D"
            >
                Cómo llegar
            </a>
        </div>
    </div>
</section>
