---

---

<section>
  <div
    class="bg-stone-500 p-8 text-white flex flex-col justify-center items-center text-balance w-full"
  >
    <h1 class="text-center text-xl delius-swash-caps-negrita">Regalos</h1>
    <p class="text-center mt-3 delius-swash-caps-regular">
      Para mis 15, nada de envoltorios... <br>
      No hace falta romperte la cabeza con regalos. <br>
      ¡Transferime a mi alias y problema resuelto! <br>
    </p>

    <div
      id="datos"
      class="datos transition-opacity duration-500 opacity-0 max-h-0 overflow-hidden size-1/2 grid grid-cols-2 my-3"
    >

    <div>
      <p>Alias :</p>
    </div>
    <div>
      <p>renata.fricke</p> 
    </div>
    </div>

    <button
      id="verDatos"
      class="inline-block bg-slate-800 text-zinc-50  text-center py-2 px-4 rounded-full shadow-sm hover:text-emerald-200 hover:bg-slate-800  transition duration-200"
      >DATOS</button
    >
  </div>
</section>

<style>
  .delius-swash-caps-regular {
font-family: "Delius Swash Caps", serif;
font-weight: 400;
font-style: normal;
}
.delius-swash-caps-negrita {
font-family: "Delius Swash Caps", serif;
font-weight: 600;
font-style: normal;
}
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const button = document.getElementById("verDatos");
    const datosDiv = document.getElementById("datos");

    button.addEventListener("click", function () {
      if (datosDiv.classList.contains("opacity-0")) {
        datosDiv.classList.remove("opacity-0");
        datosDiv.classList.add("opacity-100", "max-h-screen");
      } else {
        datosDiv.classList.add("opacity-0", "max-h-0");
        datosDiv.classList.remove("opacity-100", "max-h-screen");
      }
    });
  });
</script>
