---

---

<div class="countdown bg-gray-800 text-white p-6 shadow-lg w-full flex justify-center">
    <div id="countdown" class="text-lg flex">
        <p class="mb-2"><span id="days">0</span></p>
        <p class="mb-2">:<span id="hours">0</span></p>
        <p class="mb-2">:<span id="minutes">0</span></p>
        <p class="mb-2">:<span id="seconds">0</span></p>
    </div>
</div>

<script>
    function updateCountdown() {
        const targetDate = new Date("2025-03-07T00:00:00").getTime();
        const now = new Date().getTime();
        const distance = targetDate - now;

        const days = Math.floor(distance / (1000 * 60 * 60 * 24));
        const hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
        );
        const minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((distance % (1000 * 60)) / 1000);

        document.getElementById("days").innerText = days.toString();
        document.getElementById("hours").innerText = hours.toString();
        document.getElementById("minutes").innerText = minutes.toString();
        document.getElementById("seconds").innerText = seconds.toString();

        if (distance < 0) {
            clearInterval(interval);
            document.getElementById("countdown").innerHTML =
                "¡El evento ha llegado!";
        }
    }

    // Update the countdown every 1 second
    const interval = setInterval(updateCountdown, 1000);

    // Initial call
    updateCountdown();
</script>
