@font-face {
  font-family: 'MiTipografia';
  src: url('/src/fonts/Sarina/Sarina-Regular.ttf') format('ttf'),
       url('/src/fonts/Sevillana/Sevillana-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
