---
import Home from "../components/Home.astro";
import Invitacion from "../components/Invitacion.astro";
import Lugar from "../components/Lugar.astro";

import Regresiva from "../components/Regresiva.astro";
import Album from "../components/Album.astro";
import Regalos from "../components/Regalos.astro";

import Confirmacion from "../components/Confirmacion.astro";
import Canciones from "../components/Canciones.astro";

import Codigo from "../components/Codigo.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Te invito a festejar mis XV!" />
		<meta name="viewport" content="width=device-width" />

		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=WindSong:wght@400;500&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="/" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-screen h-screen">
		<!-- Contenedor principal -->
		<div id="main" class="w-screen h-screen">
			<div class="w-screen h-screen">
				<Home />
			</div>
			<div class="w-screen h-screen flex flex-col justify-around bg-slate-100">
				<Invitacion />
				<Regresiva />
				<Lugar />
				<Album />
			</div>
			<div class="w-screen h-screen flex flex-col justify-around">
				<Codigo />
				<Regalos />
				<Canciones />
				<Confirmacion />
			</div>
		</div>

	</body>
</html>

<style is:global>
	body {
		margin: 0;
		padding: 0;
	}

</style>
