---
import Home from "../components/Home.astro";
import Invitacion from "../components/Invitacion.astro";
import Lugar from "../components/Lugar.astro";

import Regresiva from "../components/Regresiva.astro";
import Album from "../components/Album.astro";
import Regalos from "../components/Regalos.astro";

import Confirmacion from "../components/Confirmacion.astro";
import Canciones from "../components/Canciones.astro"

import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Sevillana&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="/src/css/main.css">

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="font-['Roboto']">
		<!-- Importaciones de componentes -->

		<Home />
		<slot />
		<Invitacion />
		<slot />
		<Regresiva />
		<slot />
		<Lugar />
		<slot />
		<Album />
		<slot />
		<Regalos />
		<slot />
		<Confirmacion />
		<slot />
		<Canciones />
		<slot />

		<Footer />

		<!-- Fin de importaciones de componenetes -->

		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
</style>
